#homepage {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 500px;
    width: 500px;
    background-color: grey;
    border: 1px solid black; 
    margin: 20px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 15%;

}

#name{
    font-size: 14px;
}

#contact{
    font-size: 10px;
}

#bio{
    font-size: 10px;
}
#edit{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300;
    padding: 10px;
    width: 33%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 10px;
    background-color: grey;
}

#secondPage{ 
    border-radius: 15px;
    padding: 10px;
    border: 1px solid black;
    height: 500px;
    width: 500px;
    margin: 20px;

}
h3 {
    color: aqua;
}
#update{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300;
    padding: 10px;
    width: 33%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 10px;
    background-color: grey;
}
